.App {

	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;
}



.App-link {
  color: #61dafb;
}

.services-action-footer{
	margin-top: 10px;
}
.services-service-option{
	margin-bottom: 10px!important;
}
.calendar-weekdays,
.calendar-week{
display: flex;

}

.calendar-weekdays{

	justify-content: space-between;
	width: 100%;
	margin-left: 10px;
}
.calendar-month-year,
.calendar-week-day{
	margin-right: 10px;
	margin-bottom: 10px;
}
.calendar-day,.calendar-month-year{
	text-align: center;
}
.calendar-date-btn{
	min-width: 30px!important;

	padding: 5px 0px!important;
	line-height: 1.4!important;
}
.step-calendar-select{
	padding-left: 0px!important;
	width: 100%;
}
.calendar-btn-left{
	padding: 0px!important;
}

.booking-form-stepper-container{
	padding-right: 20px!important;
	overflow: hidden;
}
.calendar-btn-right{
	padding: 0px 5px!important;
}
.calendar-month-year{
	text-transform: capitalize;
	font-size: 20px;
	margin: 10px 0;
}
