.App {

	max-width: 1200px;
	margin: 0 auto;
	padding: 5px;
}



.App-link {
  color: #61dafb;
}

.services-action-footer{
	margin-top: 10px;
}
.services-service-option{
	margin-bottom: 10px!important;
}
.calendar-weekdays,
.calendar-week{
display: flex;

}
.calendar-month-year,
.calendar-week-day{
	margin-right: 10px;
	margin-bottom: 10px;
}
.calendar-day,.calendar-month-year{
	text-align: center;
}

