body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.booking-form__service-item-group{
	padding: 10px ;
	display:grid;
	grid-template-columns: 2fr 1fr 0.5fr 0.5fr;
	grid-gap: 10px;
}
.booking-form__service-item{
	width: 100%;
}
.booking-form__services-groups-footer{
	display: flex;
	justify-content: space-between;
	padding: 10px;
}
.btn.hidden{
	visibility: hidden;
}
