body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.booking-form__service-item{
	width: 100%;
}

.btn.hidden{
	visibility: hidden;
}

.discounted-price {
	font-size: 10px;
	text-decoration: line-through;
}
.service-price--discounted {
	color: red;
}


